{% extends 'base.html' %}

{% block contents %}
    <form method="post" action=".">
    {% csrf_token %}
        <div>
            <h3 class="font-weight-bold mb-5">문의하기</h3>
        </div>
        {{ error }}
        <!-- 제목 -->
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input
                    type="text"
                    class="form-control"
                    id="issueTitle"
                    name="issueTitle"
                    placeholder="제목을 입력하세요."
            />
        </div>
        <!-- 내용 -->
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea
                    class="form-control"
                    id="issueContents"
                    name="issueContents"
                    placeholder="문의하실 내용을 입력하세요."
                    rows="10"
            ></textarea>
        </div>
        <!-- 첨부파일 -->
        <!--
        <div class="mb-3">
            <input class="form-control" type="file" id="issueFile" multiple/>
        </div>
        -->
        <!-- submit -->
        <button type="submit" id="btnSubmit" class="btn btn-primary" name="btnSubmit">
            제출
        </button>
    </form>
{% endblock %}