{% extends 'base.html' %}

{% block contents %}
<div class="bg-white">
    <form>
        <div>
            <h4 class="font-weight-bold mb-5">문의하기</h4>
        </div>
        <div>
            <h5>제목</h5>
            <input
                    class="form-control form-control mb-3"
                    type="text"
                    id="issueTitle"
                    placeholder="제목을 입력하세요."
            />
        </div>
        <div>
            <h5>내용</h5>
            <textarea
                    class="form-control form-control"
                    style="padding-bottom: 300px"
                    id="issueContents"
                    placeholder="내용을 입력 하세요."
            ></textarea>
        </div>
        <div class="custom-file mt-2">
            <input
                    type="file"
                    class="custom-file-input"
                    id="issueFile"
                    lang="ko"
            />
            <label class="custom-file-label" for="customFileLang">첨부 파일</label>
        </div>
        <button type="button" class="btn btn-primary" id="btnSubmit">
            제출
        </button>
    </form>
</div>
{% endblock %}